html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;

}


.row, .container-fluid{
    margin: 0;
    padding: 0;
}
 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
 }

/* Menu vertical de gauche  */
/* 
.navContainer{
   
} */
 .navback{
     background-color: black;

 }

.leftMenu{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2rem;
    text-align: center;
}

.mainContainer{
    background-image: url(imgPortfolio/accueil.jpg);
    background-size: cover;
}

.mainContainer h1{
    font-size: 4rem;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 2%;
}

.mainContainer P{
    font-size: 2rem;
    margin-left: 2%;
}

#apropos ,#portfolio,#competence,#contact{
    background-color: white;
    padding: 5%;
    width: 85%;
    margin: auto;
    margin-top: 10%;
    border-radius: 10PX;
    box-shadow: 3px 20px 20px black;
}

.sectionTitle{
    font-size: 3rem;
    text-align: center;
   margin: 2%;
  
}
#apropos p{
    text-align: justify;
}


/***** Section portfoolio **** */

.portfolioContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardItem{
    width: 30%;
    min-width:300px;
    margin-bottom: 6%;
    border: 2px solid rgba(169, 169, 169, 0.556);
    border-radius: 10px;
}

.cardItem img{
    width:100%;
    height: 220px;
}
.cardContent{
    margin: 3%;  
}


/* section compétence  */

#competence p{
    text-align: right;
}


.skills{
    text-align: right;
    background-color: lightgray;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 2%;
    font-weight:bold;
    color: white;
}


.skillsHtmlcss{
    background-color: #fbdfdc;
    width: 95%;
}

@keyframes animhtmlcss{
    0%{
        width:0;
        margin-left:-5px;
    }

    100%{
        width: 95%;
    }
}

.skillsJs{
    background-color:#ca9c53;
    width: 90%;
}

@keyframes animJS{
    0%{
        width:0;
        margin-left:-5px;
    }
    
    100%{
        width: 90%;
    }
}



.skillsPhp{
    background-color:black;
    width: 85%;
}

@keyframes animPhp{
    0%{
        width:0;
        margin-left:-5px;
    }
    
    100%{
        width: 85%;
    }
}


/* section contact  */

#contact{
    margin-top:3% ;
}

#contact input{

    font-weight: bold;
}